canonical-deal-os/n8n-workflows/deadline-scanner.json
{
  "name": "Deadline Scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron: Daily 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst runId = crypto.randomUUID();\nconst startTime = Date.now();\nreturn { runId, startTime, jobType: 'DEADLINE_SCAN' };"
      },
      "id": "init-run",
      "name": "Code: Initialize Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.BFF_N8N_CALLBACK_SECRET;\nconst signature = crypto.createHmac('sha256', secret).update('deadline-scan').digest('hex');\nreturn { signature };"
      },
      "id": "hmac-scan",
      "name": "Code: HMAC for Scan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BFF_BASE_URL }}/api/n8n/scheduler/deadline-scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8n-Signature",
              "value": "={{ 'sha256=' + $('Code: HMAC for Scan').item.json.signature }}"
            },
            {
              "name": "X-N8n-Execution-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-deadlines",
      "name": "HTTP: Fetch Deadlines",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $json.tasks.length + $json.reviews.length + $json.submissions.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-items",
      "name": "IF: Has Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "// Combine all items into a single array with type info\nconst tasks = $('HTTP: Fetch Deadlines').item.json.tasks || [];\nconst reviews = $('HTTP: Fetch Deadlines').item.json.reviews || [];\nconst submissions = $('HTTP: Fetch Deadlines').item.json.submissions || [];\n\nconst allItems = [\n  ...tasks.map(t => ({ ...t, itemType: 'task' })),\n  ...reviews.map(r => ({ ...r, itemType: 'review' })),\n  ...submissions.map(s => ({ ...s, itemType: 'submission' }))\n];\n\nreturn allItems;"
      },
      "id": "combine-items",
      "name": "Code: Combine Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 250]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.BFF_N8N_CALLBACK_SECRET;\nconst item = $json;\n\nconst payload = {\n  type: item.reminderType,\n  itemId: item.id,\n  daysAhead: item.daysAhead || null,\n  dealId: item.dealId || null,\n  assigneeId: item.assigneeId || null,\n  title: item.title || null,\n  dueDate: item.dueDate || null,\n  requestedByName: item.requestedByName || null,\n  recipientName: item.recipientName || null,\n  recipientEmail: item.recipientEmail || null,\n  submittedByUserId: item.submittedByUserId || null\n};\n\nconst signature = crypto.createHmac('sha256', secret).update(JSON.stringify(payload)).digest('hex');\nreturn { payload, signature };"
      },
      "id": "prepare-reminder",
      "name": "Code: Prepare Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BFF_BASE_URL }}/api/n8n/scheduler/process-reminder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8n-Signature",
              "value": "={{ 'sha256=' + $json.signature }}"
            },
            {
              "name": "X-N8n-Execution-Id",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 1000
            }
          }
        }
      },
      "id": "process-reminder",
      "name": "HTTP: Process Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 250]
    },
    {
      "parameters": {
        "jsCode": "const runId = $('Code: Initialize Run').first().json.runId;\nconst startTime = $('Code: Initialize Run').first().json.startTime;\nconst scanData = $('HTTP: Fetch Deadlines').first().json;\nconst processed = $input.all();\n\nconst results = {\n  tasksScanned: scanData.tasks?.length || 0,\n  reviewsScanned: scanData.reviews?.length || 0,\n  submissionsScanned: scanData.submissions?.length || 0,\n  itemsProcessed: processed.length,\n  successCount: processed.filter(p => p.json.success).length,\n  failureCount: processed.filter(p => !p.json.success).length\n};\n\nconst durationMs = Date.now() - startTime;\n\nreturn { runId, jobType: 'DEADLINE_SCAN', results, durationMs };"
      },
      "id": "aggregate-results",
      "name": "Code: Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 250]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.BFF_N8N_CALLBACK_SECRET;\nconst payload = $json;\nconst signature = crypto.createHmac('sha256', secret).update(JSON.stringify(payload)).digest('hex');\nreturn { ...payload, signature };"
      },
      "id": "hmac-log",
      "name": "Code: HMAC for Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BFF_BASE_URL }}/api/n8n/scheduler/log-completion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8n-Signature",
              "value": "={{ 'sha256=' + $json.signature }}"
            },
            {
              "name": "X-N8n-Execution-Id",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ runId: $json.runId, jobType: $json.jobType, results: $json.results, durationMs: $json.durationMs }) }}",
        "options": {}
      },
      "id": "log-completion",
      "name": "HTTP: Log Completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 250]
    },
    {
      "parameters": {},
      "id": "end-success",
      "name": "End: Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2670, 250]
    },
    {
      "parameters": {
        "jsCode": "// No items to process - still log the run\nconst runId = $('Code: Initialize Run').first().json.runId;\nconst startTime = $('Code: Initialize Run').first().json.startTime;\nconst scanData = $('HTTP: Fetch Deadlines').first().json;\n\nconst results = {\n  tasksScanned: scanData.tasks?.length || 0,\n  reviewsScanned: scanData.reviews?.length || 0,\n  submissionsScanned: scanData.submissions?.length || 0,\n  itemsProcessed: 0,\n  successCount: 0,\n  failureCount: 0\n};\n\nconst durationMs = Date.now() - startTime;\n\nreturn { runId, jobType: 'DEADLINE_SCAN', results, durationMs };"
      },
      "id": "no-items-log",
      "name": "Code: No Items Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.BFF_N8N_CALLBACK_SECRET;\nconst payload = $json;\nconst signature = crypto.createHmac('sha256', secret).update(JSON.stringify(payload)).digest('hex');\nreturn { ...payload, signature };"
      },
      "id": "hmac-log-empty",
      "name": "Code: HMAC for Empty Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BFF_BASE_URL }}/api/n8n/scheduler/log-completion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8n-Signature",
              "value": "={{ 'sha256=' + $json.signature }}"
            },
            {
              "name": "X-N8n-Execution-Id",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ runId: $json.runId, jobType: $json.jobType, results: $json.results, durationMs: $json.durationMs }) }}",
        "options": {}
      },
      "id": "log-empty",
      "name": "HTTP: Log Empty Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 400]
    },
    {
      "parameters": {},
      "id": "end-empty",
      "name": "End: No Items",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2010, 400]
    }
  ],
  "connections": {
    "Cron: Daily 8 AM": {
      "main": [
        [
          {
            "node": "Code: Initialize Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Initialize Run": {
      "main": [
        [
          {
            "node": "Code: HMAC for Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: HMAC for Scan": {
      "main": [
        [
          {
            "node": "HTTP: Fetch Deadlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Fetch Deadlines": {
      "main": [
        [
          {
            "node": "IF: Has Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Items?": {
      "main": [
        [
          {
            "node": "Code: Combine Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: No Items Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Combine Items": {
      "main": [
        [
          {
            "node": "Code: Prepare Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Reminder": {
      "main": [
        [
          {
            "node": "HTTP: Process Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Process Reminder": {
      "main": [
        [
          {
            "node": "Code: Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Aggregate Results": {
      "main": [
        [
          {
            "node": "Code: HMAC for Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: HMAC for Log": {
      "main": [
        [
          {
            "node": "HTTP: Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Log Completion": {
      "main": [
        [
          {
            "node": "End: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: No Items Result": {
      "main": [
        [
          {
            "node": "Code: HMAC for Empty Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: HMAC for Empty Log": {
      "main": [
        [
          {
            "node": "HTTP: Log Empty Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Log Empty Run": {
      "main": [
        [
          {
            "node": "End: No Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Scheduler"
    },
    {
      "name": "Migration"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
