canonical-deal-os/n8n-workflows/escalation-checker.json
{
  "name": "Escalation Checker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron: Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst runId = crypto.randomUUID();\nconst startTime = Date.now();\nreturn { runId, startTime, jobType: 'ESCALATION' };"
      },
      "id": "init-run",
      "name": "Code: Initialize Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.BFF_N8N_CALLBACK_SECRET;\nconst signature = crypto.createHmac('sha256', secret).update('escalation-scan').digest('hex');\nreturn { signature };"
      },
      "id": "hmac-scan",
      "name": "Code: HMAC for Scan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BFF_BASE_URL }}/api/n8n/scheduler/escalation-scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8n-Signature",
              "value": "={{ 'sha256=' + $('Code: HMAC for Scan').item.json.signature }}"
            },
            {
              "name": "X-N8n-Execution-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-overdue",
      "name": "HTTP: Fetch Overdue Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-tasks",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-tasks",
      "name": "IF: Has Overdue Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "overdueTasks",
        "options": {}
      },
      "id": "split-tasks",
      "name": "Split: Each Task",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1350, 250]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-level1",
              "leftValue": "={{ $json.needsLevel1 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-level1",
      "name": "Filter: Needs Escalation",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1570, 250]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.BFF_N8N_CALLBACK_SECRET;\nconst task = $json;\n\n// Determine escalation level\nconst level = task.needsLevel2 ? 2 : 1;\nconst escalateToUserId = task.createdById; // Level 1: creator, Level 2: TODO - deal team\n\nconst payload = {\n  taskId: task.id,\n  level,\n  escalateToUserId,\n  daysOverdue: task.daysOverdue,\n  title: task.title,\n  assigneeName: task.assigneeName,\n  dealId: task.dealId\n};\n\nconst signature = crypto.createHmac('sha256', secret).update(JSON.stringify(payload)).digest('hex');\nreturn { payload, signature };"
      },
      "id": "prepare-escalation",
      "name": "Code: Prepare Escalation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BFF_BASE_URL }}/api/n8n/scheduler/process-escalation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8n-Signature",
              "value": "={{ 'sha256=' + $json.signature }}"
            },
            {
              "name": "X-N8n-Execution-Id",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 1000
            }
          }
        }
      },
      "id": "process-escalation",
      "name": "HTTP: Process Escalation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 250]
    },
    {
      "parameters": {
        "jsCode": "const runId = $('Code: Initialize Run').first().json.runId;\nconst startTime = $('Code: Initialize Run').first().json.startTime;\nconst scanData = $('HTTP: Fetch Overdue Tasks').first().json;\nconst processed = $input.all();\n\nconst results = {\n  tasksChecked: scanData.count || 0,\n  escalated: processed.length,\n  level1: processed.filter(p => p.json.level === 1).length,\n  level2: processed.filter(p => p.json.level === 2).length,\n  successCount: processed.filter(p => p.json.success).length,\n  failureCount: processed.filter(p => !p.json.success).length\n};\n\nconst durationMs = Date.now() - startTime;\n\nreturn { runId, jobType: 'ESCALATION', results, durationMs };"
      },
      "id": "aggregate-results",
      "name": "Code: Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 250]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.BFF_N8N_CALLBACK_SECRET;\nconst payload = $json;\nconst signature = crypto.createHmac('sha256', secret).update(JSON.stringify(payload)).digest('hex');\nreturn { ...payload, signature };"
      },
      "id": "hmac-log",
      "name": "Code: HMAC for Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BFF_BASE_URL }}/api/n8n/scheduler/log-completion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8n-Signature",
              "value": "={{ 'sha256=' + $json.signature }}"
            },
            {
              "name": "X-N8n-Execution-Id",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ runId: $json.runId, jobType: $json.jobType, results: $json.results, durationMs: $json.durationMs }) }}",
        "options": {}
      },
      "id": "log-completion",
      "name": "HTTP: Log Completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2670, 250]
    },
    {
      "parameters": {},
      "id": "end-success",
      "name": "End: Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2890, 250]
    },
    {
      "parameters": {
        "jsCode": "// No tasks to escalate - still log the run\nconst runId = $('Code: Initialize Run').first().json.runId;\nconst startTime = $('Code: Initialize Run').first().json.startTime;\nconst scanData = $('HTTP: Fetch Overdue Tasks').first().json;\n\nconst results = {\n  tasksChecked: scanData.count || 0,\n  escalated: 0,\n  level1: 0,\n  level2: 0,\n  successCount: 0,\n  failureCount: 0\n};\n\nconst durationMs = Date.now() - startTime;\n\nreturn { runId, jobType: 'ESCALATION', results, durationMs };"
      },
      "id": "no-tasks-log",
      "name": "Code: No Tasks Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.BFF_N8N_CALLBACK_SECRET;\nconst payload = $json;\nconst signature = crypto.createHmac('sha256', secret).update(JSON.stringify(payload)).digest('hex');\nreturn { ...payload, signature };"
      },
      "id": "hmac-log-empty",
      "name": "Code: HMAC for Empty Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BFF_BASE_URL }}/api/n8n/scheduler/log-completion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8n-Signature",
              "value": "={{ 'sha256=' + $json.signature }}"
            },
            {
              "name": "X-N8n-Execution-Id",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ runId: $json.runId, jobType: $json.jobType, results: $json.results, durationMs: $json.durationMs }) }}",
        "options": {}
      },
      "id": "log-empty",
      "name": "HTTP: Log Empty Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 400]
    },
    {
      "parameters": {},
      "id": "end-empty",
      "name": "End: No Tasks",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2010, 400]
    }
  ],
  "connections": {
    "Cron: Every 4 Hours": {
      "main": [
        [
          {
            "node": "Code: Initialize Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Initialize Run": {
      "main": [
        [
          {
            "node": "Code: HMAC for Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: HMAC for Scan": {
      "main": [
        [
          {
            "node": "HTTP: Fetch Overdue Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Fetch Overdue Tasks": {
      "main": [
        [
          {
            "node": "IF: Has Overdue Tasks?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Overdue Tasks?": {
      "main": [
        [
          {
            "node": "Split: Each Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: No Tasks Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split: Each Task": {
      "main": [
        [
          {
            "node": "Filter: Needs Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Needs Escalation": {
      "main": [
        [
          {
            "node": "Code: Prepare Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Escalation": {
      "main": [
        [
          {
            "node": "HTTP: Process Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Process Escalation": {
      "main": [
        [
          {
            "node": "Code: Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Aggregate Results": {
      "main": [
        [
          {
            "node": "Code: HMAC for Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: HMAC for Log": {
      "main": [
        [
          {
            "node": "HTTP: Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Log Completion": {
      "main": [
        [
          {
            "node": "End: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: No Tasks Result": {
      "main": [
        [
          {
            "node": "Code: HMAC for Empty Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: HMAC for Empty Log": {
      "main": [
        [
          {
            "node": "HTTP: Log Empty Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Log Empty Run": {
      "main": [
        [
          {
            "node": "End: No Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Scheduler"
    },
    {
      "name": "Migration"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
